.band-history {
    padding: 20px;
    margin-top: 64px;
    margin-bottom: 64px;
}

.band-history p {
    line-height: 2.0;
    font-size: 18px;
    text-align: left;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 32px;
}

/* ------------------------------------------------------- 
                        Rabiscos                              
 ------------------------------------------------------- */

.svg-band-rabisco1 {
    position: absolute;
    top: 127%;
    left: 0%;
    width: 100px; 
    height: 10%;
}